        <button type="submit" class="py-1 my-3 text-white transition-all duration-500 rounded-lg bg-gradient-to-l to-violet-500 from-fuchsia-500 hover:bg-gradient-to-br">Submit</button>
        
    </form>     