<%- include('../includes/head.ejs') %>

</head>
<body>

        <%- include('../includes/admin-panel-navigation.ejs') %>
    <main >
        customers
    </main>

      
<%- include('../includes/end.ejs') %>