<%- include('../includes/head.ejs') %>
</head>
<body>

        <%- include('../includes/admin-panel-navigation.ejs') %>

    <main >
        dashboard
    </main>

      
<%- include('../includes/end.ejs') %>